<section class="noticias">

   <h1 class="titulo">{{titulo}}</h1>
   <div><h2 class="tituloCard">{{tituloCard}}</h2>
    <img src="{{imgSrc}}" alt="{{imgDsc}}" />
    
    <div><p>{{articulo}}</p></div>
   </div>
    
</section>